* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

/*TitulosEncabezados*/

.titulo{
    color: #000000;
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
    padding: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

/*Diseño Menu*/

header{
    background:#000000;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    position: fixed;
}

nav.contenedor{
    height: 120px;
    width: 95%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.logo{
    height: 70px;
}

.logo img{
    height: 100%;
    width: 22%;
    vertical-align: top;  
}

nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;
}

.hamburguesa{
    height: 100%;
    width: 70px;
    text-align: center;
    display: none;
}

.hamburguesa img{
    width: 100px;
    vertical-align: top;
    padding: 20px 2px 20px 2px;
    cursor: pointer;
}

.imgmenu{
    width: 50px;
    padding: 1px 20px 1px 1px;
}

/*Portada*/

.portada{
    background: #49494931;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #d1d1d11a, #fcf9f91e), url(images/portadafenryl.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f8f4f438, #000000), url(images/portadafenryl.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/*SeccionNoticias*/

main .conoticias{
    padding: 1px 0 20px 0;
}

.contenedornoticias{
    display: flex;
    justify-content: center;
}

.noticiasimg{
    width: 55%;
    padding: 2px 30px 40px 2px;
}

.contenedornoticias .textosnoticias{
    width: 30%;
}

.textosnoticias h2{
    margin-bottom: 10px;
    text-align: left;
}

.textosnoticias p{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    padding: 0 0 10px 10px;
    font-size: 15px;
    text-align: justify;
}

/*SeccionEventos*/

.eventos {
    background: #f2f2f2;
}

.eventos-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-eve {
    width: 22%;
    margin-bottom: 60px;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
} 

.imagen-eve > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.eventos-port .textoevento{
    width: 80%;
}

.textoevento{
    padding: 10px 0px 50px 0px;
    font-size: 20px;
    text-align: justify;
}


/*SeccionProductos*/

.productos {
    background: #ffffff;
}

.productos-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-pro {
    width: 30%;
    margin-bottom: 70px;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
} 

.imagen-pro > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.productos-port .textopro{
    width: 80%;
}

.textopro{
    padding: 10px 0px 50px 0px;
    font-size: 20px;
    text-align: justify;
}

/*SeccionSobreNosotros*/

.nosotros {
    background: #f2f2f2;
}

.nosotros-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-noso {
    width: 40%;
    margin-bottom: 60px;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
} 

.imagen-noso > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.nosotros-port .textonosotros{
    width: 80%;
}

.textonosotros{
    padding: 10px 0px 50px 0px;
    font-size: 20px;
    text-align: justify;
}



/*SeccionUbicacion*/

.conubicacion{
    background: #ffffff;
}

.coubi{
    display: flex;
    justify-content: space-evenly;
}

.ubimapa{
    width: 70%;
    padding: 20px 10px 60px 10px;
}

.coubi .textosubi{
    width: 50%;
}

.textosubi p{
    padding: 10px 100px 10px 100px;
    font-size: 20px;
    text-align: center;
}

/*SeccionSugerencias*/

.sugerencias {
    background: #f2f2f2;
    padding-bottom: 20px;
}

.sugerencias-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sugerencias-ind {
    width: 28%;
    text-align: center;
}
.sugerencias-ind img {
    width: 80%;
}

.sugerencias-ind h3 {
    margin: 20px 0px;
}

.sugerencias-ind p {
    font-size: 17px;
    text-align: justify;
    padding: 10px 0px 40px 0px;
}

/*SeccionFooter*/

footer {
    background: #000000;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 3px solid white;
}

.content-foo {
    text-align: center;
}

.content-foo .icons{
    width: 40px;
    padding: 10px 5px 10px 5px;
}

.content-foo h4 {
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.content-foo p {
    color: rgb(255, 255, 255);
}

.content-foo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.685);
    padding: 3px 4px;
}

.titulo-final {
    text-align: center;
    font-size: 30px;
    margin: 20px 0 0 0;
    color: rgb(255, 255, 255);
}

/*MenuHamburgesa PC*/

@media screen and (max-width:1500px) {
    .hamburguesa{
        display: block;
    }

    .enlaces{
        position: fixed;
        background: rgb(0, 0, 0);
        left: 0;
        top: 0px;
        width: 44%;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px 5px 5px 5px;
        flex-direction: column;
        transform: translate(-100%);
    }

    .enlaces2{
        transform: translate(0%);
    }
}


/*DiseñoMenu PC PantallaPequeña*/

@media screen and (max-width:650px){

    .hamburguesa{
        display: block;
    }

    .enlaces{
        position: fixed;
        background: rgb(0, 0, 0);
        left: 0;
        top: 0px;
        width: 68%;
        height: 105vh;
        display: flex;
        justify-content: space-evenly;
        align-items: left;
        padding: 1px 1px 50px 1px;
        flex-direction: column;
        transform: translate(-100%);
    }

    .enlaces2{
        transform: translate(0%);
    }

    .portada{
        width: 100%;
        height: 340px;
        background-position: left;
        background-size: cover;
        overflow: hidden;
    }
    
    nav.logo{
        height: 70px;
    }
    
    .logo img{
        height: 100%;
        width: 80%;
        vertical-align: top;  
    }

    .hamburguesa{
        width: 60%;
    }

    .titulo{
        font-size: 32px;
    }

    /*Noticias*/

    .contenedornoticias{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedornoticias .textosnoticias{
        width: 90%;
        padding: 5px 10px;
        text-align: center;
    }

    .textosnoticias h2{
        margin-bottom: 10px;
        text-align: center;
    }

    .contenedornoticias p{
        font-size: 17px;
    }

    .noticiasimg{
        width: 90%;
        height: 80%;
        padding: 5px;
    }

    /*Eventos*/

    .eventos-port{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .eventos-port .textoevento{
        width: 90%;
        padding: 5px 10px 40px 10px;
        text-align: justify;
    }

    .eventos-port p{
        font-size: 17px;
    }

    .imagen-eve{
        width: 90%;
        margin-bottom: 40px;
    }

    /*Productos*/

    .productos-port{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .productos-port .textopro{
        width: 90%;
        padding: 5px 10px 40px 10px;
        text-align: justify;
    }
    .productos-port p{
        font-size: 17px;
    }

    .imagen-pro {
        width: 90%;
        margin-bottom: 40px;
    } 


    /*Nosotros*/

    .nosotros-port{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .nosotros-port .textonosotros{
        width: 90%;
        padding: 5px 10px 40px 10px;
        text-align: justify;
    }

    .nosotros-port p{
        font-size: 17px;
    }

    .imagen-noso{
        width: 90%;
        margin-bottom: 40px;
    }

    
    /*Ubicacion*/

    .conubicacion{
        background: #ffffff;
    }
    
    .coubi{
        display: flex;
        justify-content: space-evenly;
    }
    
    .ubimapa{
        width: 95%;
        padding: 5px 30px 30px 30px;
    }
    
    .coubi .textosubi{
        width: 50%;
    }
    
    .textosubi p{
        padding: 5px 30px 30px 30px;
        font-size: 20px;
        text-align: center;
    }

    /*Sugerencias*/

    .sugerencias-cont{
        justify-content: center;
        flex-direction: column;
    }

    .sugerencias-ind {
        width: 85%;
        text-align: center;
    }

    .sugerencias-ind:nth-child(1), .sugerencias-ind:nth-child(2){
        margin-bottom: 30px;
    }

    .sugerencias-ind h3 {
        margin: 2px 0px;
    }
    
    .sugerencias-ind p {
        font-size: 17px;
        text-align: justify;
        padding: 10px 5px 10px 5px;
    }

    .sugerencias-ind img{
        width: 95%;
    }

    /*Footer Contacto*/

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo a{
        font-size: 13px;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        border-bottom: 1px solid #ffffff;
        padding-bottom: 10px;
    }

    .contenedor-footer {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 20px;
        border-bottom: 3px solid white;
    }

    .titulo-final{
        font-size: 30px;
    }
}
